@model ExpenseTrackerWeb.Models.Category

@{
    ViewBag.Title = "New Category";
}

@using (Html.BeginForm("Create", "Category"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(Model => Model.Name)
        <div class="col-md-12">
            @Html.EditorFor(Model => Model.Name, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>


    <div class="form-group">
        <input type="submit" name="btnNewCategory" value="Create" class="btn btn-primary" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

