@model System.Collections.Generic.IEnumerable<ExpenseTrackerDomain.Models.Expense>

@{
    ViewBag.Title = "Balance";
}

<h2>Your Balance</h2>

<table class="table table-striped">
    <tr>
        <th>
            Month
        </th>
        <th>
            Day
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            User
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date.Day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Session["UserName"].ToString().Split('@')[0]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Expense", new { id = item.Id }, new object { }) |
                    @Html.ActionLink("Delete", "Delete", "Expense", new { id = item.Id }, new object { })
                </td>
            </tr>
        }
    }

</table>