@model ExpenseTrackerDomain.Models.Expense

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "New Expense";
}

@using (Html.BeginForm("SaveExpense", "ExpenseMvc"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Expense</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Category, (IEnumerable<SelectListItem>)@ViewBag.CategoryDropDownList, "-- Select Category --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new { Style = "width:300px;", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PaymentType, (IEnumerable<SelectListItem>)@ViewBag.PaymentTypeDropDownList, "-- Select Payment Type --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Value, new { type = "number", step="any", @class = "form-control", Style = "text-align:right;width:120px;" })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info" style="width:200px;" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "ExpenseMvc")
</div>


@section scripts {
    <script>
        $(function () {
            $("#Date").datepicker({ dateFormat: "dd/mm/yy" });
            $('#Date').datepicker('setDate', 'today');
        });
    </script>
}
