@model ExpenseTrackerWeb.Models.Expense

@{
    ViewBag.Title = "New Expense";
}

@using (Html.BeginForm("Create", "Expense"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">

        @Html.LabelFor(Model => Model.Date, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-12">        
            @Html.EditorFor(Model => Model.Date, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.ValidationMessageFor(model => model.Date)            
        </div>

        @Html.LabelFor(Model => Model.Value)
        <div class="col-md-12">
            @Html.EditorFor(Model => Model.Value, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        @Html.LabelFor(Model => Model.Category)
        <div class="col-md-12">
            <div class="dropdown">
                @Html.DropDownList("Category", ViewBag.Categories as List<SelectListItem>, "Select a category", new { @class = "form-control"})
            </div>
            <br />
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        @Html.LabelFor(Model => Model.PaymentType)
        <div class="col-md-12">
            @Html.EditorFor(Model => Model.PaymentType, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.ValidationMessageFor(model => model.PaymentType)
        </div>

        @Html.LabelFor(Model => Model.Description)
        <div class="col-md-12">
            @Html.EditorFor(Model => Model.Description, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.ValidationMessageFor(model => model.Description)
        </div>

    </div>


    <div class="form-group">
        <input type="submit" name="btnNewExpense" value="Add Expense" class="btn btn-primary" />
    </div>
}

