
<div class="row">
    <div class="col-md-6">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("New Expense", "Create", "Expense", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Categories", "Index", "Category", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Accounts", "Index", "Account", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Balance", "Index", "Balance", new { area = "" }, null)</li>
            <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
        </ul>
    </div>
</div>
