@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@Html.ActionLink("Add Expense", "NewExpense", "ExpenseMvc")
<br /><br />

<table>
    <tr style="font-weight:bold;">
        <td width="80px">Date</td>
        <td>Category</td>
        <td>Description</td>
        <td style="text-align:right;width:60px;">Value</td>
        <td></td>
    </tr>
    @foreach (ExpenseTrackerDomain.Models.Expense exp in Model)
    {
        <tr>
            <td >@exp.Date.ToShortDateString()</td>
            <td>@exp.Category</td>
            <td>@exp.Description</td>
            <td style="text-align:right;">@exp.Value</td>
            <td style="text-align:right;width:60px;">@Html.ActionLink("Delete", "DeleteExpense", new { idExpenseToDelete = exp.Id })</td>
        </tr>
    }
</table>
